# Environment Variables
.env
.env.*

# Python Bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/

# IDE and OS files
.vscode/
.idea/
.DS_Store

# Testing and Coverage
.pytest_cache/
.coverage
htmlcov/

# Local Data and Logs
meili_data/
meili_data_test/
*.log
*.sqlite3